<link rel="stylesheet" href="./css/footer.css">
<footer>



	<div class="footer-donation__container">
		<h3 class="paragraph-2">Support scrummer!</h3>
		<img class="questionMark" src="./icons/question.png" alt="question">

		<div class="darkPanel">
			<!--this panel is used to show a modal-->
		</div>

		<div class="questionInfo">
				
			<div class="questionInfo-container">
				<h3 class="paragraph-2">Donating you will have these benefits:</h3>
				<ul>
					<li><img src="./icons/premium.png" alt="premium"><b class="focus">Premium user</b>: As <b class="focus">premium user</b> you can access to our exclusive <b class="focus">discord group</b> where you can colaborate with another developers in new software ideas and also close communication with <b class="focus">SCRUMMER team</b>.</li>
					<li><img src="./icons/access.png" alt="access"><b class="focus">Access to the "Ideas Box"</b>: The "<b class="focus">Ideas Box</b>" is a SCRUMMER's blog where you can take a lot of proyects ideas from a large list that we prepare for you, this is perfect if you are looking for proyects to <b class="focus">enrich your portafolio</b>.</li>
					<li><img src="./icons/mark.png" alt="mark"><b class="focus">Let your mark</b>: When you donate to SCRUMMER, your username will be automatically printed in our <b class="focus">Contributors Page</b> forever.</li>
				</ul>
			</div>

		</div>

		<input id="btnDonate" class="btnDonate paragraph-2" type="button" value="Donate">
	</div>

	<div class="footer-info__container">
		<h3 class="paragraph-3">
			All scrummer rights reserved.
		</h3>
	</div>


</footer>
