
	<header class="header">
		<div class="header-box__logo">
			<img class="headerLogo" src="./icons/logo_white_large.png" alt="menuIcon">
		</div>
		<div class="header-box__menuIcon">
			<img class="menuIcon btnIcon" src="./icons/menu.png" alt="menuIcon">
		</div>
	</header>

