<link rel="stylesheet" href="./css/header.css">
	<header class="header">
		<div class="header-box__logo">
			<img class="headerLogo" src="./icons/logo_white_large.png" alt="menuIcon">
		</div>
		<div class="header-box__btnOpenMenu">
			<input class="btnOpenMenu btnIcon" id="btnOpenMenu" type="button">
		</div>
	</header>
	<!--here starts the menu-->
	<div class="menuPanel" id="menuPanel">
		<div class="menuPanel-container">

			<div class="btnCloseMenu-container">
				<input id="btnCloseMenu" class="btnClose btnIcon" type="button">
			</div>

			<!--if the user isn't logged code an if-->
			<div class="login-container">
				<a href="./signIn"><h3 class="paragraph-2">Sign in</h3></a>
				<a href="./signUp"><h3 class="paragraph-2">Sign Up</h3></a>
				<a href="./"><h3 class="paragraph-2">Log Out</h3></a>
			<!--if the user is already logged use this to show the username-->
			</div>


			<ul>
				<li>
					<a href="./">
						<img class="btnIcon" src="./icons/home.png" alt="Home">
						<h3 class="paragraph-2">Home</h3>
					</a>
				</li>
				<li>
					<a href="./profile">
						<img class="btnIcon" src="./icons/profile.png" alt="Profile">
						<h3 class="paragraph-2">Profile</h3>
					</a>
				</li>
				<li>
					<a href="./proyectPanel">
						<img class="btnIcon" src="./icons/proyect.png" alt="Proyect">
						<h3 class="paragraph-2">Proyects panel</h3>
					</a>
				</li>
				<li>
					<a href="./howToScrum">
						<img class="btnIcon" src="./icons/how.png" alt="How to scrum">
						<h3 class="paragraph-2">How to scrum</h3>
					</a>
				</li>
			</ul>
		</div>
	</div>

