@import "functions";
@import "variables";

footer{
	@include flex(initial,space-around,center);
	height:auto;
	width:100%;
	color:#fff;
	flex-wrap:wrap;
	background:$blackBack;

	.footer-info__container{
		@include flex(initial,center,center);
		outline:solid yellow;
		height:auto;
		width:330px;
		margin:10px 0px;

	}

	.footer-donation__container{
		@include flex(initial,center,center);
		outline:solid yellow;
		height:auto;
		width:330px;
		margin:15px 0px;

		.questionMark{
			height:30px;
			width:auto;
			margin-left:15px;
		}

		.darkPanel{
			position:fixed;
			visibility:visible;
			left:0px;
			top:0px;
			height:100%;
			width:100%;
			background:rgba(0,0,0,0.9);
			z-index:55;
		}

		.questionInfo{
			@include flex(initial,center,center);
			position:fixed;
			top:0;
			left:0;
			z-index:150;
			outline:solid yellow;
			height:100%;
			width:100%;
			visibility:visible;
			
			.questionInfo-container{
				@include flex(column,center,center);
				height:auto;
				width:330px;
				outline:solid yellow;

				ul{
					box-sizing:border-box;
					height:auto;
					width:100%;
					outline:solid red;
					list-style:none;
					padding:0px 18px;
					margin:10px 0px 0px 0px;
					background:$purplePlattform;
					border-radius:20px;

					li{
						outline:solid green;
						margin:15px 0px;

						img{
							height:40px;
							display:block;
							width:auto;
							outline:solid black;
							margin-bottom:10px;
							margin-left:125px;
						}
					}
					
				}
			}
			
		}

		.btnDonate{
			height:50px;
			width:100px;
			color:inherit;
			margin-left:15px;
			background:$blueBack;
			border-radius:10px;
			border:none;

		}
	}

}
