@import "functions";
@import "variables";

footer{
	@include flex(column,center,center);
	height:auto;
	width:100%;
	color:#fff;
	background:$blackBack;

	.footer-info__container{
		@include flex(initial,center,center);
		//outline:solid yellow;
		height:auto;
		width:330px;
		margin:10px 0px;

	}

	.footer-donation__container{
		@include flex(initial,center,center);
		//outline:solid yellow;
		height:auto;
		width:330px;
		margin:15px 0px;

		.btnQuestionMark{
			background:none;
			border:none;
			@include backImage('../icons/question.png',center,cover);
			height:30px;
			width:30px;
			margin-left:15px;
		}

		.darkPanel{
			position:fixed;
			visibility:visible;
			left:0px;
			top:-100vh;
			height:100%;
			width:100%;
			background:rgba(0,0,0,0.9);
			z-index:55;
			transition:all 1s;
		}

		.questionInfo{
			@include flex(initial,center,center);
			position:fixed;
			top:-100vh;
			left:0;
			z-index:150;
	//outline:solid yellow;
			height:100%;
			width:100%;
			visibility:visible;
			transition:all 1s;
			
			.questionInfo-container{
				@include flex(column,center,flex-end);
				height:auto;
				width:330px;
		//outline:solid yellow;

				ul{
					box-sizing:border-box;
					height:auto;
					width:100%;
					//outline:solid red;
					list-style:none;
					padding:0px 18px;
					margin:10px 0px 0px 0px;
					background:$purplePlattform;
					border-radius:20px;

					li{
						//outline:solid green;
						margin:15px 0px;

						h3{
							text-align:center;
						}

						img{
							height:40px;
							display:block;
							width:auto;
//							outline:solid black;
							margin-bottom:10px;
							margin-left:125px;
						}
						p{

							font-size:14px;
							text-align:center;
						}

					}
					
				}
			}
			
		}

		.btnDonate{
			height:50px;
			width:100px;
			color:inherit;
			margin-left:15px;
			background:$blueBack;
			border-radius:10px;
			border:none;

		}
	}

}
