@import "class";
@import "variables";
@import "functions";
//home-1 section
.home-1{
	@include flex(initial,center,flex-start);
	height:auto;
	width:100%;
	background:$purpleBack;
	padding-top:80px;
	padding-bottom:30px;
	
	.home-1__container{
		@include flex(initial,center,center);
		flex-wrap:wrap;
//		outline:solid green;
		width:95%;
		height:auto;

		.home-1__paragraph{
			@include flex(column,center,center);
			height:auto;
			width:35%;
			min-height:250px;
			min-width:300px;
			max-height:500px;
			max-width:550px;
			margin: 25px 15px;
			//outline:solid green;
			color:#fff;
			box-sizing:border-box;

			h1{
				margin:15px 0px;
				text-align:center;
			}

			p{
				text-align:center;
			}

			input{
				margin:15px 0px;
			}
		}

		.home-1__homeImage{
			height:auto;
			width:40%;
			min-height:300px;
			min-width:340px;
			max-height:500px;
			max-width:550px;
			box-sizing:border-box;
//			outline:solid green;

			.homeImage{
				height:100%;
				width:100%;
			}

		}
	}
}

.home-2{
	@include flex(initial,center,center);
	height:auto;
	width:100%;
	background:$blackBack;
	color:#fff;

	.home-2__container{
		height:auto;
		width:90%;
		margin:100px 0px;
		//outline:solid green;

		h2{
			width:100%;
			height:auto;
			margin:15px 0px;
			text-align:center;
		}


		.home-2__subContainer{
			@include flex(initial,center,center);
			flex-wrap:wrap;
			//outline:solid yellow;
			height:auto;
			width:100%;

			.mobileImage{
				height:330px;
				width:330px;
				min-width:330px;
				box-sizing:border-box;
				margin:10px;
				box-sizing:border-box;
				border-radius:20px;

				.mobileImage-img{
					height:100%;
					width:100%;
					border-radius:20px;
				}

			}

			.stepsContainer{
				@include flex(column,center,center);
				height:350px;
				width:350px;
				//outline:solid red;
				
				.stepItem-stGroup{
					@include flex(initial,center,center);
					//outline:solid green;
					height:auto;
					width:auto;

					& .stepItem:nth-child(1){
						background:$blueBack;
					}
					& .stepItem:nth-child(2){
						background:$purplePlattform;
					}

				}

				.stepItem-ndGroup{
					@include flex(initial,center,center);
					//outline:solid green;
					height:auto;
					width:auto;

					& .stepItem:nth-child(1){
						background:$purplePlattform;
					}
					& .stepItem:nth-child(2){
						background:$blueBack;
					}
				}

				.stepItem{
					@include flex(initial,center,center);
					//outline:solid red;
					height:155px;
					width:155px;
					margin:10px;
					border-radius:20px;

					.stepItem-container{
						@include flex(column,center,center);
						//outline:solid yellow;
						height:auto;
						width:auto;

						.stepIcon{
							height:70px;
							width:70px;
							margin-bottom:5px;
						}

					}

				}

			}

		}

	}
	
}

.home-3{
	@include flex(initial,center,center);
	height:auto;
	width:100%;
	background:$purpleBack;
	padding:100px 0px;
	color:#fff;

	.home-3__container{
		@include flex(column,flex-start,center);
		//outline:solid red;
		height:auto;
		width:50%;
		min-width:330px;
		max-width:680px;

		.home-3__subContainer{
			//outline:solid yellow;
			height:auto;
			width:100%;
			margin-top:20px;

			.home-3__list{
			//	outline:solid blue;
				height:auto;
				width:100%;

				.list-item{
					@include flex(column,flex-start,center);
					background:$purplePlattform;
					height:140px;
					width:100%;
					margin:20px 0px;
					border-radius:20px;
					
					.list-item__head{
						@include flex(column,flex-start,center);
						//outline:solid green;
						width:95%;
						margin:20px 0px 5px 0px;
						height:100px;

						.btnCross{
							background:$purplePlattform;
							@include backImage('../icons/cross.png',center,cover);
							height:60px;
							width:60px;
							border-radius:50px;
						//	outline:solid red;
							border:none;
							margin:5px 0px 0px 0px;
							transform:rotate(45deg);
							z-index:5;
							transition:all 0.5s;
						}
						
					}

					.list-item__paragraph{
					//	outline:solid yellow;
						width:95%;
						margin-bottom:20px;
						visibility:hidden;
						text-align:center;
					}

				}

			}

		}

	}

}

.home-4{
	@include flex(initial,center,flex-start);
	color:#fff;
	background:$blackBack;
	padding:100px 0px;
	height:auto;
	width:100%;
	
	.home-4__container{
		@include flex(column,flex-start,center);
//		outline:solid yellow;
		height:auto;
		width:95%;

		h2{
			margin:0px 0px 15px 0px;
			//outline:solid red;
		}

		.home-4__subContainer{
			@include flex(initial,center,flex-start);
			flex-wrap:wrap;
			//outline:solid yellow;
			height:auto;
			width:auto;

			
			.home-4__box{
				@include flex(initial,center,center);
			//	outline:solid blue;
				height:330px;
				width:330px;
				border-radius:20px;
				margin:10px;
				
				&:nth-child(1){
					background:$blueBack;
				}
				&:nth-child(2){
					background:$purplePlattform;
				}

				.box-content{
					@include flex(column,center,center);
			//		outline:solid indianred;
					height:90%;
					width:90%;

					.box-content__icon{
						margin-bottom:8px;
						height:100px;
						width:100px;
					}

					p{
						text-align:center;
						height:38%;
						//outline:solid red;
					}

					.box-content__subGroup{
						@include flex(column,center,center);
						height:40%;
						width:auto;
						//outline:solid red;

						.box-content__list{
							font-size:18px;
							margin-bottom:10px;
						}

					}

				}

			}

		}

	}
}


.home-5{
	@include flex(initial,center,flex-start);
	padding:100px 0px;
	height:auto;
	color:#fff;
	width:100%;
	background:$purpleBack;

	.home-5__container{
		@include flex(column,flex-start,center);
		height:auto;
		width:95%;
		//outline:solid red;

		h2{
			margin-bottom:10px;
			text-align:center;
		}

		.home-5__subContainer{
			@include flex(initial,center,flex-start);
//			outline:solid yellow;
			flex-wrap:wrap;
			height:auto;
			width:auto;

			.home-5__box{
				@include flex(column,flex-start,center);
				height:350px;
				width:350px;
//				outline:solid black;

				.box-stSubGroup{
					@include flex(initial,center,center);
					flex-wrap:wrap;
					width:100%;
					height:50%;
//					outline:solid yellow;
					
					.box-item{
						@include flex(initial,center,center);
//						outline:solid pink;
						height:155px;
						width:155px;
						margin:10px;
						border-radius:20px;

						&:nth-child(1){
							background:$blueBack;
						}
						&:nth-child(2){
							background:$purplePlattform;
						}

						.box-item__content{
							@include flex(column,center,center);
							height:auto;
							width:auto;
//							outline:solid green;

							.box-item__link{
								color:#fff;
								text-decoration:none;
								text-align:center;

								.box-item__img{//buttons with icons as background
									height:100px;
									width:100px;
								}

							}
							
						}

					}

				}

				.box-ndSubGroup{
					@include flex(initial,center,center);
					flex-wrap:wrap;
					width:100%;
					height:50%;
//					outline:solid yellow;
					
					.box-item{
						@include flex(initial,center,center);
//						outline:solid pink;
						height:155px;
						width:155px;
						margin:10px;
						border-radius:20px;

						&:nth-child(1){
							background:$purplePlattform;
						}
						&:nth-child(2){
							background:$blueBack;
						}

						.box-item__content{
							@include flex(column,center,center);
							height:auto;
							width:auto;
						//	outline:solid green;

							.box-item__link{
								color:#fff;
								text-decoration:none;
								text-align:center;

								.box-item__img{//buttons with icons as background
									height:100px;
									width:100px;
								}

							}
							
						}

					}

				}

				//here goes the special one
				.box-rdSubGroup{
					@include flex(initial,center,center);
					flex-wrap:wrap;
					width:100%;
					height:50%;
				//	outline:solid yellow;
					
					.box-item{
						@include flex(initial,center,center);
			//			outline:solid pink;
						height:155px;
						width:330px;
						margin:10px;
						border-radius:20px;
						background:$blueBack;

						.box-item__content{
							@include flex(column,center,center);
							height:auto;
							width:auto;
			//				outline:solid green;

							.box-item__link{
								color:#fff;
								text-decoration:none;
								text-align:center;

								.box-item__img{//buttons with icons as background
									height:100px;
									width:100px;
								}

							}
							
						}

					}

				}

				.box-thSubGroup{
					@include flex(initial,center,center);
					flex-wrap:wrap;
					width:100%;
					height:50%;
			//		outline:solid yellow;
					
					.box-item{
						@include flex(initial,center,center);
			//			outline:solid pink;
						height:155px;
						width:155px;
						margin:10px;
						border-radius:20px;

						&:nth-child(1){
							background:$purplePlattform;
						}
						&:nth-child(2){
							background:$blueBack;
						}

						.box-item__content{
							@include flex(column,center,center);
							height:auto;
							width:auto;
			//				outline:solid green;

							.box-item__link{
								color:#fff;
								text-decoration:none;
								text-align:center;

								.box-item__img{//buttons with icons as background
									height:100px;
									width:100px;
								}

							}
							
						}

					}

				}

			}

		}

	}

}
