* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

.btnSuccess {
  font-family: "Roboto", sans-serif;
  height: auto;
  width: auto;
  padding: 8px 15px;
  color: #fff;
  font-size: 18px;
  background: #0099C0;
  border-radius: 30px;
  border: none;
}
.btnSuccess:active {
  transform: scale(0.92);
}

.btnClose {
  background: none;
  background-image: url("../icons/close.png");
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
  border: none;
}

.btnDelete {
  height: auto;
  width: auto;
  font-family: "Roboto", sans-serif;
  padding: 8px 15px;
  background: #FF4444;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  border: none;
}
.btnDelete:active {
  transform: scale(0.92);
}

.btnIcon {
  cursor: pointer;
}
.btnIcon:active {
  transform: scale(0.92);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.paragraph {
  font-size: 25px;
}

.paragraph-2 {
  font-size: 18px;
}

.paragraph-3 {
  font-size: 15px;
}

.focus {
  color: #00B3E1;
}

.home-1 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background: #3C065E;
  padding-top: 80px;
  padding-bottom: 30px;
}
.home-1 .home-1__container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
}
.home-1 .home-1__container .home-1__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 35%;
  min-height: 250px;
  min-width: 300px;
  max-height: 500px;
  max-width: 550px;
  margin: 25px 15px;
  color: #fff;
  box-sizing: border-box;
}
.home-1 .home-1__container .home-1__paragraph h1 {
  margin: 15px 0px;
  text-align: center;
}
.home-1 .home-1__container .home-1__paragraph p {
  text-align: center;
}
.home-1 .home-1__container .home-1__paragraph input {
  margin: 15px 0px;
}
.home-1 .home-1__container .home-1__homeImage {
  height: auto;
  width: 40%;
  min-height: 300px;
  min-width: 340px;
  max-height: 500px;
  max-width: 550px;
  box-sizing: border-box;
}
.home-1 .home-1__container .home-1__homeImage .homeImage {
  height: 100%;
  width: 100%;
}

.home-2 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background: #181A1B;
  color: #fff;
}
.home-2 .home-2__container {
  height: auto;
  width: 90%;
  margin: 100px 0px;
}
.home-2 .home-2__container h2 {
  width: 100%;
  height: auto;
  margin: 15px 0px;
  text-align: center;
}
.home-2 .home-2__container .home-2__subContainer {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
.home-2 .home-2__container .home-2__subContainer .mobileImage {
  height: 330px;
  width: 330px;
  min-width: 330px;
  box-sizing: border-box;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}
.home-2 .home-2__container .home-2__subContainer .mobileImage .mobileImage-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem-stGroup {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem-stGroup .stepItem:nth-child(1) {
  background: #0099C0;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem-stGroup .stepItem:nth-child(2) {
  background: #673C9E;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem-ndGroup {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem-ndGroup .stepItem:nth-child(1) {
  background: #673C9E;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem-ndGroup .stepItem:nth-child(2) {
  background: #0099C0;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 155px;
  margin: 10px;
  border-radius: 20px;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem .stepItem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-2 .home-2__container .home-2__subContainer .stepsContainer .stepItem .stepItem-container .stepIcon {
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
}

.home-3 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background: #3C065E;
  padding: 100px 0px;
  color: #fff;
}
.home-3 .home-3__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 50%;
  min-width: 330px;
  max-width: 680px;
}
.home-3 .home-3__container .home-3__subContainer {
  height: auto;
  width: 100%;
  margin-top: 20px;
}
.home-3 .home-3__container .home-3__subContainer .home-3__list {
  height: auto;
  width: 100%;
}
.home-3 .home-3__container .home-3__subContainer .home-3__list .list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #673C9E;
  height: 140px;
  width: 100%;
  margin: 20px 0px;
  border-radius: 20px;
}
.home-3 .home-3__container .home-3__subContainer .home-3__list .list-item .list-item__head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 20px 0px 5px 0px;
  height: 100px;
}
.home-3 .home-3__container .home-3__subContainer .home-3__list .list-item .list-item__head .btnCross {
  background: #673C9E;
  background-image: url("../icons/cross.png");
  background-position: center;
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: none;
  margin: 5px 0px 0px 0px;
  transform: rotate(45deg);
  z-index: 5;
  transition: all 0.5s;
}
.home-3 .home-3__container .home-3__subContainer .home-3__list .list-item .list-item__paragraph {
  width: 95%;
  margin-bottom: 20px;
  visibility: hidden;
  text-align: center;
}

.home-4 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  background: #181A1B;
  padding: 100px 0px;
  height: auto;
  width: 100%;
}
.home-4 .home-4__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 95%;
}
.home-4 .home-4__container h2 {
  margin: 0px 0px 15px 0px;
}
.home-4 .home-4__container .home-4__subContainer {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  border-radius: 20px;
  margin: 10px;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box:nth-child(1) {
  background: #0099C0;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box:nth-child(2) {
  background: #673C9E;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box .box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box .box-content .box-content__icon {
  margin-bottom: 8px;
  height: 100px;
  width: 100px;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box .box-content p {
  text-align: center;
  height: 38%;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box .box-content .box-content__subGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: auto;
}
.home-4 .home-4__container .home-4__subContainer .home-4__box .box-content .box-content__subGroup .box-content__list {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-5 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0px;
  height: auto;
  color: #fff;
  width: 100%;
  background: #3C065E;
}
.home-5 .home-5__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 95%;
}
.home-5 .home-5__container h2 {
  margin-bottom: 10px;
  text-align: center;
}
.home-5 .home-5__container .home-5__subContainer {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  width: 350px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup .box-item {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 155px;
  margin: 10px;
  border-radius: 20px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup .box-item:nth-child(1) {
  background: #0099C0;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup .box-item:nth-child(2) {
  background: #673C9E;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup .box-item .box-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup .box-item .box-item__content .box-item__link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-stSubGroup .box-item .box-item__content .box-item__link .box-item__img {
  height: 100px;
  width: 100px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup .box-item {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 155px;
  margin: 10px;
  border-radius: 20px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup .box-item:nth-child(1) {
  background: #673C9E;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup .box-item:nth-child(2) {
  background: #0099C0;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup .box-item .box-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup .box-item .box-item__content .box-item__link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-ndSubGroup .box-item .box-item__content .box-item__link .box-item__img {
  height: 100px;
  width: 100px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-rdSubGroup {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-rdSubGroup .box-item {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 330px;
  margin: 10px;
  border-radius: 20px;
  background: #0099C0;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-rdSubGroup .box-item .box-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-rdSubGroup .box-item .box-item__content .box-item__link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-rdSubGroup .box-item .box-item__content .box-item__link .box-item__img {
  height: 100px;
  width: 100px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup .box-item {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 155px;
  margin: 10px;
  border-radius: 20px;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup .box-item:nth-child(1) {
  background: #673C9E;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup .box-item:nth-child(2) {
  background: #0099C0;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup .box-item .box-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup .box-item .box-item__content .box-item__link {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.home-5 .home-5__container .home-5__subContainer .home-5__box .box-thSubGroup .box-item .box-item__content .box-item__link .box-item__img {
  height: 100px;
  width: 100px;
}

/*# sourceMappingURL=index.css.map */
