* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

.btnSuccess {
  font-family: "Roboto", sans-serif;
  height: auto;
  width: auto;
  padding: 8px 15px;
  color: #fff;
  font-size: 18px;
  background: #0099C0;
  border-radius: 30px;
  border: none;
}
.btnSuccess:active {
  transform: scale(0.92);
}

.btnClose {
  background: none;
  background-image: url("../icons/close.png");
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
  border: none;
}

.btnDelete {
  height: auto;
  width: auto;
  font-family: "Roboto", sans-serif;
  padding: 8px 15px;
  background: #FF4444;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  border: none;
}
.btnDelete:active {
  transform: scale(0.92);
}

.btnIcon {
  cursor: pointer;
}
.btnIcon:active {
  transform: scale(0.92);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.paragraph {
  font-size: 25px;
}

.paragraph-2 {
  font-size: 18px;
}

.paragraph-3 {
  font-size: 15px;
}

.focus {
  color: #00B3E1;
}

.profile {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
  background: #3C065E;
  height: 100vh;
  width: 100%;
}
.profile .darkContainer {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: -100vh;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 55;
  transition: all 1s;
}
.profile .darkContainer .changeProfile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  color: #fff;
  min-width: 280px;
  max-width: 400px;
  overflow-y: auto;
  padding: 15px;
}
.profile .darkContainer .changeProfile-container .btnCloseForm-container {
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
}
.profile .darkContainer .changeProfile-container .btnCloseForm-container .btnCloseForm {
  background: none;
  border: none;
  background-image: url("../icons/close.png");
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
}
.profile .darkContainer .changeProfile-container h2 {
  text-align: center;
}
.profile .darkContainer .changeProfile-container .profile-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-image .profileImage {
  border-radius: 50%;
  padding: 5px;
  height: 100px;
  width: 100px;
  margin: 10px 0px;
  background: #673C9E;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-image .btnChangeImage {
  background: none;
  color: #00B3E1;
  border: none;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-input {
  margin: 5px 0px;
  width: 100%;
  height: auto;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-input h3 {
  margin-left: 10px;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-input input {
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding: 0px 15px;
  background: #673C9E;
  box-sizing: border-box;
}
.profile .darkContainer .changeProfile-container .profile-container__form .form-input a {
  text-decoration: none;
}
.profile .darkContainer .changeProfile-container .profile-container__form .btnSubmit-container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.profile .darkContainer .changeProfile-container .profile-container__form .btnSubmit-container .btnSuccess {
  margin: 5px 0px;
}
.profile .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 50%;
  color: #fff;
  min-width: 280px;
  max-width: 400px;
  margin: 100px 0px 40px 0px;
}
.profile .profile-container .profile-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.profile .profile-container .profile-container__form .form-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}
.profile .profile-container .profile-container__form .form-image .profileImage {
  border-radius: 50%;
  padding: 5px;
  height: 100px;
  width: 100px;
  margin: 10px 0px;
  background: #673C9E;
}
.profile .profile-container .profile-container__form .form-input {
  margin: 5px 0px;
  width: 100%;
  height: auto;
}
.profile .profile-container .profile-container__form .form-input h3 {
  margin-left: 10px;
}
.profile .profile-container .profile-container__form .form-input input {
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding: 0px 15px;
  background: #673C9E;
  box-sizing: border-box;
}
.profile .profile-container .profile-container__form .form-input a {
  text-decoration: none;
}
.profile .profile-container .profile-container__form .btnSubmit-container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.profile .profile-container .profile-container__form .btnSubmit-container .btnSuccess {
  margin: 5px 0px;
}

/*# sourceMappingURL=profile.css.map */
