<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>scrummer</title>
	<link rel="stylesheet" href="./css/howToScrum.css">
	<link rel="stylesheet" href="./css/btnAdd.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Ubuntu+Condensed&family=Zen+Kaku+Gothic+New:wght@300;500;900&display=swap" rel="stylesheet"> 

	<!--https://fonts.google.com/specimen/Roboto?query=roboto this is the google font page-->
</head>
<body>
	<%- include ('../partials/header.ejs')%> <!--From here we call our header block code-->

	<section class="howToScrum">
		<div class="howToScrum-container">
			<h2 class="title">How to SCRUM?</h2>
			<div class="team-container">
				<h3 class="paragraph-3">Your team members</h3>
				<div class="teamMember-container">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
					<img class="teamMember" src="" alt="">
				</div>
			</div>

			<div class="mainAxisList">

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">What is SCRUM?</b></h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable" draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>
						<div class="crossAxisList-item draggable"draggable="true">
							<p class="paragraph-3">
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
								SfSor complex problems.
							</p>
						</div>

					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Product Backlog</b> - Stories</h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - To do</h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - Working</h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - To verify</h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - Done</h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Daily Scrum</b></h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Review</b></h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Retrospective</b></h3>
					<div class="crossAxisList-item__container">
						<div class="crossAxisList-item">
						</div>
					</div>
				</div>

			</div>


		</div>

	</section>


	
	<%- include ('../partials/btnAdd.ejs')%> <!--From here we call the add btn code-->
	<%- include ('../partials/footer.ejs')%> <!--From here we call our footer block code-->

	<script src="/socket.io/socket.io.min.js"></script><!--this is to read the presetted js file of socket.io moduleand use all the functionalities inside-->
	<script src="./main.js"></script>
	<script src="./js/mechanicals.js"></script>
	<script src="./js/formMechanicals.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script src="./js/validationSingForm.js"></script>
	<script src="./js/androidVKeyboardFix.js"></script>

</body>
</html>
