<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>scrummer</title>
	<link rel="stylesheet" href="./css/howToScrum.css">
	<link rel="stylesheet" href="./css/btnAdd.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Ubuntu+Condensed&family=Zen+Kaku+Gothic+New:wght@300;500;900&display=swap" rel="stylesheet"> 

	<!--https://fonts.google.com/specimen/Roboto?query=roboto this is the google font page-->
</head>
<body>
	<%- include ('../partials/header.ejs')%> <!--From here we call our header block code-->

	<section class="howToScrum">
		<div class="howToScrum-container">
			<h2 class="title">How to SCRUM?</h2>
			<div class="team-container">
				<h3 class="paragraph-3">Your team members</h3>
				<div class="teamMember-container">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
				</div>
			</div>

			<div class="mainAxisList">

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">What is SCRUM?</b></h3>
					<div class="crossAxisList-item__container ">

						<div class="crossAxisList-item "draggable="true">
							<p class="paragraph-3">
								Scrum is a <b class="focus">lightweight framework</b> that helps people, teams and organizations generate value through <b class="focus">adaptive</b> solutions for complex problems.
							</p>
						</div>

						<div class="crossAxisList-item"draggable="true">
							<p class="paragraph-3">
								The <b class="focus">scrum framework</b> is purposefully <b class="focus">incomplete</b>, only defining the parts required to implement scrum theory. Scrum is built upon by the <b class="focus">collective intelligence</b> of the people using it. Rather than provide people with detailed instructions, the rules of scrum guide their <b class="focus">relationships</b> and <b class="focus">interactions</b>.
							</p>
						</div>

						<div class="crossAxisList-item"draggable="true">
							<p class="paragraph-3">
								The <b class="focus">sprints</b> are fixed length <b class="focus">events</b> of one <b class="focus">month</b> or <b class="focus">less</b> to create consistency. A new sprint starts immediately after the conclusion of the previous one.
							</p>
						</div>

						<div class="crossAxisList-item"draggable="true">
							<p class="paragraph-3">
								All the work necessary to achieve the product <b class="focus">goal</b>, including <b class="focus">daily scrums</b>, <b class="focus">sprint review</b>, and <b class="focus">sprint retrospective</b>, happen within sprints.
							</p>
						</div>

						<div class="crossAxisList-item"draggable="true">
							<p class="paragraph-3">
								During the Sprint: <b class="focus">No changes</b> are made that would endanger the <b class="focus">sprint goal</b>.
							</p>
						</div>

						<div class="crossAxisList-item"draggable="true">
							<p class="paragraph-3">
								Quality does <b class="focus">not decrease</b>.
							</p>
						</div>

						<div class="crossAxisList-item " draggable="true">
							<p class="paragraph-3">
								The <b class="focus">Product Backlog</b> is refined as needed.
							</p>
						</div>

						<div class="crossAxisList-item "draggable="true">
							<p class="paragraph-3">
								Scope may be clarified and renegotiated with the <b class="focus">Product Owner</b> as more is learned.
							</p>
						</div>

					</div>
				</div>

				<!--product backlog section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Product Backlog</b> - Stories</h3>
					<div id="productBacklogId" class="crossAxisList-item__container dragProductBacklogContainer">

						<div id="productBacklogId" class="crossAxisList-item dragProductBacklog" draggable = "true">
							<p class="paragraph-3">
								The <b class="focus">product backlog</b> is the current list of user stories for the product. User stories can be <b class="focus">added</b>, <b class="focus">modified</b> or <b class="focus">removed</b> from the backlog during the project.
							</p>
						</div>

						<div id="productBacklogId" class="crossAxisList-item dragProductBacklog" draggable = "true">
							<p class="paragraph-3">
								<b class="focus">Product backlog</b> refinement is the act of breaking down and further defining <b class="focus">product backlog</b> items into smaller more precise items. This is an ongoing activity to add details, such as a description, order, and size. <b class="focus">Attributes</b> often vary with the domain of work.
							</p>
						</div>

						<div id="productBacklogId" class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As a user we want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--Sprint backlog section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - To do</h3>
					<div id="sprintBacklogId" class="crossAxisList-item__container dragSprintBacklogContainer">

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<p class="paragraph-3">
								Subset of <b class='focus'>user stories</b> from the <b class='focus'>product backlog</b> that are planned to be worked as part of a <b class='focus'>sprint</b> to work.
							</p>
						</div>

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<p class="paragraph-3">
								The <b class="focus">sprint backlog</b> is a plan by and for the developers. It is a highly visible, real-time picture of the work that the developers plan to accomplish during the <b class="focus">sprint</b> in order to achieve the <b class="focus">sprint goal</b>.
							</p>
						</div>

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									Here you describe a <b class="focus">function</b> as a <b class="focus">task</b> to get done a specific <b class="focus">story</b>. You can make <b class="focus">unlimited functions</b> of every <b class="focus">story</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>

							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--here start the sprint back on working section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - Working</h3>
					<div id="sprintBacklogId" class="crossAxisList-item__container dragSprintBacklogContainer">

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<p class="paragraph-3">
								Any <b class="focus">task</b> being worked on goes here. The <b class="focus">programmer</b> chooses to work on it <b class="focus">moves</b> it over when she's ready to start the <b class="focus">task</b>.
							</p>
						</div>

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>


					</div>
				</div>

				<!--here start the verify section of the sprint backlog-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - To verify</h3>
					<div id="sprintBacklogId" class="crossAxisList-item__container dragSprintBacklogContainer">

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<p class="paragraph-3">
								If there is one task that has to be <b class="focus">verified</b> by a developer, will be moved to the "<b class="focus">working</b>" column if is finally <b class="focus">aproved</b>, will be placed in "<b class="focus">Done</b>" column.
							</p>
						</div>

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--here start the done section of sprint backlog-->

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - Done</h3>
					<div id="sprintBacklogId" class="crossAxisList-item__container dragSprintBacklogContainer">

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<p class="paragraph-3">
								<b class="focus">Tasks</b> pile up over when they're <b class="focus">done</b>. They're <b class="focus">removed</b> at the <b class="focus">end</b> of the <b class="focus">sprint</b>. Sometimes we remove some or all during a <b class="focus">sprint</b> if there are a lot of <b class="focus">tasks</b>.
							</p>
						</div>

						<div id="sprintBacklogId" class="crossAxisList-item dragSprintBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--daily scrumm section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Daily Scrum</b></h3>
					<div id="dailyScrumId" class="crossAxisList-item__container dragDailyScrumContainer">

						<div id="dailyScrumId" class="crossAxisList-item dragDailyScrum" draggable = "true">
							<p class="paragraph-3">
								To inspect progress toward the sprint goal and adapt the <b class="focus">sprint backlog</b>, the team needs a daily meeting to adjust the planned work.
							</p>
						</div>

						<div id="dailyScrumId" class="crossAxisList-item dragDailyScrum" draggable = "true">
							<p class="paragraph-3">
								The <b class="focus">daily scrum</b> is a 15 minute event for the developers of the <b class="focus">scrum team</b> to reduce complexity, improve communications, identify impediments, promote quick decision-making, and consequently <b class="focus">elminate</b> the need for other <b class="focus">meetings</b>.
							</p>
						</div>

						<div id="dailyScrumId" class="crossAxisList-item dragDailyScrum" draggable = "true">
							<p class="paragraph-3">
								If the <b class="focus">product owner</b> or <b class="focus">scrum master</b> is actively working on items in the Sprint Backlog, they participate as <b class="focus">Developers</b>.
							</p>
						</div>

						<div id="dailyScrumId" class="crossAxisList-item dragDailyScrum" draggable = "true">
							<p class="paragraph-3">
								If the <b class="focus">product owner</b> or <b class="focus">scrum master</b> is actively working on items in the Sprint Backlog, they participate as <b class="focus">Developers</b>.
							</p>
						</div>

						<div id="dailyScrumId" class="crossAxisList-item dragDailyScrum" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<div class="dueDate-container">
									<label class="paragraph-2 meetingDueDateLabel">Due date</label>
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--sprint review section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Review</b></h3>
					<div id="sprintReviewId" class="crossAxisList-item__container dragSprintReviewContainer">

						<div id="sprintReviewId" class="crossAxisList-item dragSprintReview" draggable = "true">
							<p class="paragraph-3">
								The purpose of the <b class="focus">sprint review</b> is to inspect the outcome of the sprint and determine <b class="focus">future adaptations</b>. The <b class="focus">scrum team</b> presents the results of their work to key stakeholders and progress toward the product goal is <b class="focus">discussed</b>.
							</p>
						</div>

						<div id="sprintReviewId" class="crossAxisList-item__story dragSprintReview" draggable="true">

							<div class="info-container__story">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									This is a description of a story.
								</p>
							</div>
							<div class="crossAxisList-item__storyChild" draggable = "true">
								<div class="info-container">
									<h3 class="paragraph-2">Story name</h3>
									<p class="paragraph-3">
										This is a small description of a <b class="focus">function</b>.
									</p>
									<h3 class="paragraph-2">Calification</h3>
									<p class="paragraph-3">
										<b class="focus">Done</b>
									</p>
								</div>
								<input class="btnEdit btnIcon" type="button">
							</div>

						</div>

					</div>
				</div>

				<!--sprint retrospective section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Retrospective</b></h3>
					<div id="sprintRetrospectiveId" class="crossAxisList-item__container dragSprintRetrospectiveContainer">

						<div id="sprintRetrospectiveId" class="crossAxisList-item dragSprintRetrospective" draggable = "true">
							<p class="paragraph-3">
								The purpose of the <b class="focus">sprint retrospective</b> is to plan ways to increase <b class="focus">quality</b> and <b class="focus">effectiveness</b>, the scrum team inspects how the last sprint went with regards to individuals, interactions, processes, tools, and their definition of <b class="focus">done</b>.
							</p>
						</div>

						<div id="sprintRetrospectiveId" class="crossAxisList-item dragSprintRetrospective" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<h3 class="paragraph-2">Calification</h3>
								<p class="paragraph-3">
									<b class="focus">Can be better</b>.
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

			</div>
		</div>

	</section>


	
	<%- include ('../partials/btnAdd.ejs')%> <!--From here we call the add btn code-->
	<%- include ('../partials/footer.ejs')%> <!--From here we call our footer block code-->

	<script src="/socket.io/socket.io.min.js"></script><!--this is to read the presetted js file of socket.io moduleand use all the functionalities inside-->
	<script src="./main.js"></script>
	<script src="./js/mechanicals.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script src="./js/androidVKeyboardFix.js"></script>
	<script src="./js/draggables.js"></script>
</body>
</html>
