<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>scrummer</title>
	<link rel="stylesheet" href="./css/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Ubuntu+Condensed&family=Zen+Kaku+Gothic+New:wght@300;500;900&display=swap" rel="stylesheet"> 

	<!--000https://fonts.google.com/specimen/Roboto?query=roboto this is the google font page-->
</head>
<body>

	<%- include ('../partials/header.ejs')%> <!--From here we call our header block code-->

	<section class="home-1">

		<div class="home-1__container">

			<div class="home-1__paragraph">
				<h1 class="title">Join the framework</h1>
				<p class="paragraph-2">
					In SCRUMMER you and your team will be able to use all the scrum framework tools, creating, managing,reducing time and increasing effectiveness of your proyects just transforming big processes into easy tasks. 
				</p>
				<input class="btnSuccess" type="button" value="Create now!">
			</div>

			<div class="home-1__homeImage">
				<img class="homeImage" src="./images/welcome.jpg" alt="welcome-image">
			</div>

		</div>

	</section>

	<section class="home-2">

		<div class="home-2__container">

			<h2 class="title">Get it done</h2>

			<div class="home-2__subContainer">
				<div class="mobileImage">
					<img src="./images/background-4.jpg" class="mobileImage-img" alt="mobileImage">
				</div>
				
				<div class="stepsContainer">

					<div class="stepItem-stGroup">
						<div class="stepItem">
							<div class="stepItem-container">
								<img class="stepIcon" src="./icons/toDo.png" alt="toDo">
								<h3 class="paragraph-2">To do</h3>
							</div>
						</div>

						<div class="stepItem">
							<div class="stepItem-container">
								<img class="stepIcon" src="./icons/working.png" alt="working">
								<h3 class="paragraph-2">Working</h3>
							</div>
						</div>
					</div>

					<div class="stepItem-ndGroup">
						<div class="stepItem">
							<div class="stepItem-container">
								<img class="stepIcon" src="./icons/verify.png" alt="toVerify">
								<h3 class="paragraph-2">To verify</h3>
							</div>
						</div>

						<div class="stepItem">
							<div class="stepItem-container">
								<img class="stepIcon" src="./icons/done.png" alt="done">
								<h3 class="paragraph-2">Done</h3>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</section>

	<section class="home-3">

		<div class="home-3__container">
			<h2 class="title">How to scrum?</h2>

			<div class="home-3__subContainer">

				<div class="home-3__list">

					<div class="list-item" id="stFeatPlat">
						<div class="list-item__head">
							<h2 class="subtitle focus">Scrum team members</h2>
							<input class="btnCross btnIcon" id="btnFeat-1" type="button">
						</div>
						<div class="list-item__paragraph" id="stFeatParagraph">
							<p class="paragraph-2">The <b class="focus">scrum team</b> consists of one <b class="focus">scrum master</b>, one <b class="focus">product owner</b>, and <b class="focus">developers</b>. Within a scrum team, there are no sub-teams or hierarchies because all the members work at the <b class="focus">same level</b>. It is a cohesive unit of professionals focused on one objective at a time, the <b class="focus">product goal</b>.</p>
						</div>
					</div>

					<div class="list-item"  id="ndFeatPlat">
						<div class="list-item__head">
							<h2 class="subtitle focus">Scrum values</h2>
							<input class="btnCross btnIcon" id="btnFeat-2" type="button">
						</div>
						<div class="list-item__paragraph" id="ndFeatParagraph">
							<p class="paragraph-2">Successful use of Scrum depends on people becoming more proficient in living five values: <b class="focus">Commitment</b>, <b class="focus">Focus</b>, <b class="focus">Openness</b>, <b class="focus">Respect</b>, and <b class="focus">Courage</b>.</p>
						</div>
					</div>

					<div class="list-item" id="rdFeatPlat">
						<div class="list-item__head">
							<h2 class="subtitle focus">Scrum sprint</h2>
							<input class="btnCross btnIcon" id="btnFeat-3" type="button">
						</div>
						<div class="list-item__paragraph" id="rdFeatParagraph">

							<p class="paragraph-2">They are fixed length <b class="focus">events</b> of one <b class="focus">month</b> or <b class="focus">less</b> to create consistency. A new <b class="focus">sprint</b> starts immediately after the conclusion of the <b class="focus">previous sprint</b>.
							</p>
							<p class="paragraph-2">All the work necessary to achieve the <b class="focus">product goal</b>, happen within <b class="focus">sprints</b>.</p>
						</div>
					</div>

				</div>
			</div>
		</div>

	</section>

	<section class="home-4">

		<div class="home-4__container">

			<h2 class="title">Start today</h2>

			<div class="home-4__subContainer">

				<div class="home-4__box">
					<div class="box-content">
						<img class="box-content__icon" src="./icons/build.png" alt="build">
						<p class="paragraph-2">The best way to learn how to build professional software is using SCRUMMER, invite your team and get the best results.</p>
					</div>
				</div>

				<div class="home-4__box">
					<div class="box-content">
						<img class="box-content__icon" src="./icons/team.png" alt="team">

						<div class="box-content__subGroup">
							<ul class="box-content__list">
								<li>Just create a new proyect</li>
								<li>Add your team</li>
								<li>Start building software</li>
							</ul>
							<input class="btnSuccess" type="button" value="Create now!">
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="home-5">

		<div class="home-5__container">

			<h2 class="title">Stay in community</h2>

			<div class="home-5__subContainer">
				<div class="home-5__box">

					<div class="box-stSubGroup">
						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="https://github.com/AlejandroVaqueraLopez/scrummer" target="_blank">
									<img class="box-item__img" src="./icons/github.png" alt="github">
									<p class="paragraph-2">Github</p>
								</a>
							</div>
						</div>

						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="https://www.youtube.com/channel/UC5WE5hYPZ7Ma_FGNFNmxnLQ" target="_blank">
									<img class="box-item__img" src="./icons/youtube.png" alt="youtube">
									<p class="paragraph-2">youtube</p>
								</a>
							</div>
						</div>
					</div>

					<div class="box-ndSubGroup">
						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="#">
									<img class="box-item__img" src="./icons/instagram.png" alt="instagram">
									<p class="paragraph-2">Instagram</p>
								</a>
							</div>
						</div>

						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="#">
									<img class="box-item__img" src="./icons/facebook.png" alt="Facebook">
									<p class="paragraph-2">Facebook</p>
								</a>
							</div>
						</div>
					</div>

				</div>

				<div class="home-5__box">

					<div class="box-rdSubGroup">
						<!--this one is double-->
						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="./contact"> 
									<img class="box-item__img" src="./icons/email.png" alt="Email">
									<p class="paragraph-2">Email</p>
								</a>
							</div>
						</div>
					</div>

					<div class="box-thSubGroup">
						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="https://discord.gg/WbDn5CAJre" target="_blank">
									<img class="box-item__img" src="./icons/discord.png" alt="Discord">
									<p class="paragraph-2">Discord</p>
								</a>
							</div>
						</div>

						<div class="box-item">
							<div class="box-item__content">
								<a class="box-item__link" href="http://www.alejandrovaquera.com/" target="_blank">
									<img class="box-item__img" src="./icons/web.png" alt="alejandrovaquera.com">
									<p class="paragraph-2">Creator's page</p>
								</a>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>


	<%- include ('../partials/footer.ejs')%> <!--From here we call our footer block code-->

	<script src="/socket.io/socket.io.min.js"></script><!--this is to read the presetted js file of socket.io moduleand use all the functionalities inside-->
	<script src="./main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script src="./js/mechanicals.js"></script>
	<script src="./js/features.js"></script>
	<script src="./js/formMechanicals.js"></script>
	<script src="./js/validationSingForm.js"></script>
	<script src="./js/androidVKeyboardFix.js"></script>
</body>
</html>
