<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>scrummer</title>
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Ubuntu+Condensed&family=Zen+Kaku+Gothic+New:wght@300;500;900&display=swap" rel="stylesheet"> 
</head>
<body>

	<%- include ('../partials/header.ejs')%> <!--From here we call our header block code-->

	<section class="home-1">

		<div class="home-1__container">

			<div class="home-1__paragraph">
				<h1 class="title">Join the framework</h1>
				<p class="paragraph-2">
					In SCRUMMER you and your team will be able to use all the scrum framework tools, creating, managing,reducing time and increasing effectiveness of your proyects just transforming big processes into easy tasks. 
				</p>
				<input class="btnSuccess" type="button" value="Create now!">
			</div>

			<div class="home-1__homeImage">
				<img class="homeImage" src="./images/welcome.jpg" alt="welcome-image">
			</div>

		</div>

	</section>

	<section class="home-2">

		<div class="home-2__container">

			<h2 class="title">Get it done</h2>

			<div class="home-2__subContainer">
				<div class="mobileImage">
					<img src="./images/background-4.jpg" class="mobileImage-img" alt="mobileImage">
				</div>
				
				<div class="stepsContainer">
					<div class="stepItem">
						<div class="stepItem-container">
							<img class="stepIcon" src="./icons/toDo.png" alt="toDo">
							<h3 class="paragraph-2">To do</h3>
						</div>
					</div>
					<div class="stepItem">
						<div class="stepItem-container">
							<img class="stepIcon" src="./icons/working.png" alt="working">
							<h3 class="paragraph-2">Working</h3>
						</div>
					</div>
					<div class="stepItem">
						<div class="stepItem-container">
							<img class="stepIcon" src="./icons/verify.png" alt="toVerify">
							<h3 class="paragraph-2">To verify</h3>
						</div>
					</div>
					<div class="stepItem">
						<div class="stepItem-container">
							<img class="stepIcon" src="./icons/done.png" alt="done">
							<h3 class="paragraph-2">Done</h3>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

	<%- include ('../partials/footer.ejs')%> <!--From here we call our footer block code-->

	<script src="/socket.io/socket.io.min.js"></script><!--this is to read the presetted js file of socket.io moduleand use all the functionalities inside-->
	<script src="./main.js"></script>
</body>
</html>
