<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>scrummer</title>
	<link rel="stylesheet" href="./css/proyectContent.css">
	<link rel="stylesheet" href="./css/btnAdd.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Ubuntu+Condensed&family=Zen+Kaku+Gothic+New:wght@300;500;900&display=swap" rel="stylesheet"> 
	<!--https://fonts.google.com/specimen/Roboto?query=roboto this is the google font page-->
</head>
<body>
	<%- include ('../partials/header.ejs')%> <!--From here we call our header block code-->

	<section class="howToScrum">
		<div class="howToScrum-container">
			<h2 class="title">How to SCRUM?</h2>
			<div class="team-container">
				<h3 class="paragraph-3">Your team members</h3>
				<div class="teamMember-container">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
					<img class="teamMember" src="./icons/profile.png" alt="profile teamMembers">
				</div>
			</div>

			<div class="mainAxisList">

				<!--product backlog section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Product Backlog</b> - Stories</h3>
					<div class="crossAxisList-item__container productBacklogContainer">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									Every <b class="focus">story</b> item can be like this:   (As a user we want to)
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--Sprint backlog section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - To do</h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									Here you describe a <b class="focus">function</b> as a <b class="focus">task</b> to get done a specific <b class="focus">story</b>. You can make <b class="focus">unlimited functions</b> of every <b class="focus">story</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									Here you describe a <b class="focus">function</b> as a <b class="focus">task</b> to get done a specific <b class="focus">story</b>. You can make <b class="focus">unlimited functions</b> of every <b class="focus">story</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--here start the sprint back on working section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - Working</h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>


					</div>
				</div>

				<!--here start the verify section of the sprint backlog-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - To verify</h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>


						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--here start the done section of sprint backlog-->

				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Backlog</b> - Done</h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Function name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">function</b> in the product and its <b class="focus">details</b>.
								</p>
								<div class="assignedTeamMember-container">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
									<img class="assignedTeamMember-img" src="./icons/profile.png" alt="teamMember">
								</div>
								<div class="dueDate-container">
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--daily scrumm section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Daily Scrum</b></h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<div class="dueDate-container">
									<label class="paragraph-2 meetingDueDateLabel">Due date</label>
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<div class="dueDate-container">
									<label class="paragraph-2 meetingDueDateLabel">Due date</label>
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<div class="dueDate-container">
									<label class="paragraph-2 meetingDueDateLabel">Due date</label>
									<h3 class="paragraph-3">00:40 25/02/2021</h3>
								</div>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

				<!--sprint review section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Review</b></h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item__story">
							<div class="info-container__story">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									This is a description of a story.
								</p>
							</div>
							<div class="crossAxisList-item__storyChild dragProductBacklog" draggable = "true">
								<div class="info-container">
									<h3 class="paragraph-2">Story name</h3>
									<p class="paragraph-3">
										This is a small description of a <b class="focus">function</b>.
									</p>
									<h3 class="paragraph-2">Calification</h3>
									<p class="paragraph-3">
										<b class="focus">Done</b>
									</p>
								</div>
								<input class="btnEdit btnIcon" type="button">
							</div>
						</div>

						<div class="crossAxisList-item__story">
							<div class="info-container__story">
								<h3 class="paragraph-2">Story name</h3>
								<p class="paragraph-3">
									This is a description of a story.
								</p>
							</div>
							<div class="crossAxisList-item__storyChild dragProductBacklog" draggable = "true">
								<div class="info-container">
									<h3 class="paragraph-2">Story name</h3>
									<p class="paragraph-3">
										This is a small description of a <b class="focus">function</b>.
									</p>
									<h3 class="paragraph-2">Calification</h3>
									<p class="paragraph-3">
										<b class="focus">Done</b>
									</p>
								</div>
								<input class="btnEdit btnIcon" type="button">
							</div>
						</div>

					</div>
				</div>

				<!--sprint retrospective section-->
				<div class="crossAxisList">
					<h3 class="paragraph-3"><b class="focus">Sprint Retrospective</b></h3>
					<div class="crossAxisList-item__container">

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<h3 class="paragraph-2">Calification</h3>
								<p class="paragraph-3">
									<b class="focus">Can be better</b>.
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<h3 class="paragraph-2">Calification</h3>
								<p class="paragraph-3">
									<b class="focus">Can be better</b>.
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<h3 class="paragraph-2">Calification</h3>
								<p class="paragraph-3">
									<b class="focus">Can be better</b>.
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

						<div class="crossAxisList-item dragProductBacklog" draggable = "true">
							<div class="info-container">
								<h3 class="paragraph-2">Meeting name</h3>
								<p class="paragraph-3">
									This is a small description of a <b class="focus">meeting</b> main topic to talk about.
								</p>
								<h3 class="paragraph-2">Calification</h3>
								<p class="paragraph-3">
									<b class="focus">Can be better</b>.
								</p>
							</div>
							<input class="btnEdit btnIcon" type="button">
						</div>

					</div>
				</div>

			</div>
		</div>

	</section>

	<%- include ('../partials/btnAdd.ejs')%> <!--From here we call the add btn code-->
	<%- include ('../partials/footer.ejs')%> <!--From here we call our footer block code-->

	<script src="/socket.io/socket.io.min.js"></script><!--this is to read the presetted js file of socket.io moduleand use all the functionalities inside-->
	<script src="./main.js"></script>
	<script src="./js/mechanicals.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script src="./js/androidVKeyboardFix.js"></script>
	<script src="./js/draggables.js"></script>
</body>
</html>
